*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* outline: 1pt solid black; */
}

.app{
    height: 500vh;

}

.header{
    position:absolute;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    border-bottom: 3pt solid yellow;
}

.logoandmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .logoImg img{
        width: 111px;
        height: 40px;
 }

.menu{
    display: flex;
    padding: 15px;

}


.menu li{
    padding: 15px;
}

.menu li a{
    text-decoration: none;
    color: gray;
}

.BtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.BtnContainer li{
    padding: 15px;
}

.BtnContainer li .login{
    width: 110px;
    background-color: #FFDF65;
    padding: 15px;
    border: none;
    border-radius: 80px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #494846;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem; 
}


.BtnContainer li .register {
    width: 110px;
    background-color: white;
    padding: 15px;
    border: 2pt solid black;
    border-radius: 80px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #494846;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.MainPhoto img{
    width: 58.33333%;
}